<template>
  <div>
    <v-card class="overflow-hidden">
      <v-app-bar
          absolute
          color="#6A76AB"
          dark
          shrink-on-scroll
          prominent
          src="https://www.cambridge.org/elt/blog/wp-content/uploads/2019/02/background-3268840_1920.jpg"
      >
        <template v-slot:img="{ props }">
          <v-img
              v-bind="props"
              gradient="to top right, rgba(100,115,201,.7), rgba(25,32,72,.7)"
          ></v-img>
        </template>

        <v-app-bar-nav-icon></v-app-bar-nav-icon>

        <v-toolbar-title>El Tiempo</v-toolbar-title>

        <v-spacer></v-spacer>
        <v-btn v-on:click="changeBTN" color="primary" style="margin-left: 44.5%; margin-top: 4%">{{mssgBTN}}</v-btn>
      </v-app-bar>
      <v-sheet
          class="overflow-y-auto"
          max-height="1200"
      >
        <v-container>
          <forecast v-if="show===true"></forecast>
          <timeline v-if="show===false"></timeline>
        </v-container>
      </v-sheet>
    </v-card>
	</div>
</template>


<script>
import forecast from "../components/forecast"
import timeline from "../components/timeline";
	export default {

		data: () => ({
			var: null,
      mssgBTN: "Ver día anterior",
      show: true,
		}),

    components: {
      forecast,
      timeline
    },

		created () {
		},

		computed: {
		},

		methods: {
      changeBTN(){
        this.show = !this.show
        if (this.show === true){
          this.mssgBTN = "Ver día anterior"
        }
        else {
          this.mssgBTN = "Ver pronóstico de hoy"
        }
      }
		}

	}

</script>

