<template>
  <v-card
      class="mx-auto"
      max-width="800"
      style="margin-top: 10%"
  >
    <v-list-item two-line>
      <v-list-item-content>
        <v-list-item-title class="headline">
          Pronóstico
        </v-list-item-title>
        <v-list-item-subtitle>

        </v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>

    <v-card-text>
      <v-row align="center">
        <v-col>
          <label>Mínima:</label>
        </v-col>
        <v-col>
          <label>Máxima:</label>
        </v-col>
      </v-row>
      <v-row align="center">
        <v-col
            class="display-3"
            cols="3"
        >
          {{this.data[0].temp.min}}&deg;C
        </v-col>
        <v-col cols="3">
          <v-icon large color="primary">
            mdi-thermometer-chevron-down
          </v-icon>
        </v-col>
        <v-col
            class="display-3"
            cols="3"
        >
          {{this.data[0].temp.max}}&deg;C
        </v-col>
        <v-col cols="3">
          <v-icon large color="red">
            mdi-thermometer-chevron-up
          </v-icon>
        </v-col>
      </v-row>
    </v-card-text>

    <v-list-item>
      <v-list-item-icon>
        <v-icon>mdi-map-marker</v-icon>
      </v-list-item-icon>
      <v-list-item-subtitle>Región Metropolitana, Chile</v-list-item-subtitle>
    </v-list-item>
    <v-list-item>
      <v-list-item-icon>
        <v-icon>mdi-calendar-clock-outline</v-icon>
      </v-list-item-icon>
      <v-list-item-subtitle>{{this.currentDateWithFormat}}</v-list-item-subtitle>
    </v-list-item>
    <br>
    <v-divider></v-divider>

    <v-card-actions>
      <v-btn text>
        Detalle del día:
      </v-btn>
      <br>
    </v-card-actions>

    <v-list class="transparent" style="margin-left: 4%; margin-right: 4%">
      <v-list-item>
        <v-list-item-title>Mañana</v-list-item-title>
        <v-list-item-icon>
          <v-icon>mdi-weather-sunny</v-icon>
        </v-list-item-icon>
        <v-list-item-subtitle class="text-right">
          {{this.data[0].temp.night}}&deg;C
        </v-list-item-subtitle>
      </v-list-item>
      <v-list-item>
        <v-list-item-title>Tarde</v-list-item-title>
        <v-list-item-icon>
          <v-icon>mdi-weather-partly-cloudy</v-icon>
        </v-list-item-icon>
        <v-list-item-subtitle class="text-right">
          {{this.data[0].temp.morning}}&deg;C
        </v-list-item-subtitle>
      </v-list-item>
      <v-list-item>
        <v-list-item-title>Noche</v-list-item-title>
        <v-list-item-icon>
          <v-icon>mdi-weather-night</v-icon>
        </v-list-item-icon>
        <v-list-item-subtitle class="text-right">
          {{this.data[0].temp.afternoon}}&deg;C
        </v-list-item-subtitle>
      </v-list-item>
    </v-list>
    <br>
  </v-card>
</template>

<script>
import {mapMutations, mapState} from "vuex";
export default {
  name: "forecast",
  data: () => ({
    var: null,
    currentDateWithFormat: null,
    data: [{
      temp:{
        night: 0,
        morning: 0,
        afternoon: 0,
        min: 0,
        max: 0

      }
    }]
  }),

  created () {
    this.getPredictions()
    this.callFunction()
    this.getPredictions()
  },
  computed: {
    ...mapState(["predictions"]),
  },

  methods: {
    ...mapMutations(['getPredictions']),
    callFunction: function () {
      this.currentDateWithFormat = new Date().toJSON().slice(0,10).replace(/-/g,'/');
      let date = this.currentDateWithFormat.split("/")
      this.currentDateWithFormat = date[2]+"-"+date[1]+"-"+date[0]
    }
  },
  watch: {
    predictions: function () {
      this.data = this.predictions
    },
  }
}
</script>