<template>
  <v-card max-width="500" class="mx-auto" style="margin-top: 10%">
  <v-card-text class="py-0">
    <v-card-title>
      Temperaturas día anterior
    </v-card-title>
  <v-timeline
      align-top
      dense
      style="margin-left: 20%"
  >
    <v-timeline-item
        :color="colors[i]"
        :icon="icons[i]"
        large
        v-for="(hour, i) in times"
        :key="i"
    >
      <v-row class="pt-1" style="margin-top: 0.8%">
        <v-col cols="3">
          <strong>{{hours[i]}}</strong>
        </v-col>
        <v-col cols="3">
          <span>{{hour.temp}}&deg;C</span>
        </v-col>

      </v-row>
    </v-timeline-item>
  </v-timeline>
  </v-card-text>
  </v-card>
</template>

<script>
import {mapMutations, mapState} from "vuex";
export default {
  name: "timeline",
  data: () => ({
    hours: ["00:00", "02:00", "04:00", "06:00", "08:00", "10:00", "12:00", "14:00",
    "16:00", "18:00", "20:00", "22:00"],
    colors: ["#0042fb","#0086fb", "#00affb", "#00cbfb",
      "#fbe200", "#fbb700", "#fb8e00", "#fb6900",
      "#c300fb", "#7500fb", "#2c0877", "#1d0043"],
    icons: ["mdi-weather-sunny", "mdi-weather-sunny", "mdi-weather-sunny", "mdi-weather-sunny",
    "mdi-weather-partly-cloudy", "mdi-weather-partly-cloudy", "mdi-weather-partly-cloudy", "mdi-weather-partly-cloudy",
    "mdi-weather-night", "mdi-weather-night", "mdi-weather-night", "mdi-weather-night"],
    times: [],
  }),
  created() {
    this.getTemperature();
    this.times=this.temperatures
  },
  computed: {
    ...mapState(["temperatures"]),
  },
   methods: {
    ...mapMutations(['getTemperature']),
   },
   watch: {
      temperatures: function () {
      this.times = this.temperatures
    },
   }
}
</script>

<style scoped>

</style>